extends ../shared/template

block content
  h1= title

  h3= user.email

  form.order(action='/orders' method='POST')
    button#add Add Row
    .menu-items
      //- .menu-item(style='visibility: hidden; height: 0; width 0;')
      .menu-item
        button.remove X
        input.quantity(type='number' name='quantity' value=1)
        select.menu(name='menu')
          option Select a Menu
          each menu in menus
            option= menu
        select.dish(name='dishId')
          option Select a Dish
        .properties
          .calories 0 cal
          .price $0.00
    .total $0.00
    button Place Order

block scripts
  script(src='/js/es6/compiled/orders.js')